<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Header</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a class="nav-item" href="/home">Home</a></li>
            <li><a class="nav-item" href="/blogs">Blogs</a></li>
            <li><a class="nav-item" href="/contact">Contact Us</a></li>
        </ul>
    </nav>
</body>
</html>


