*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(40deg, #656e71, #118cbc);
    height: 80vh;
}

.home{
    font-family: "Newsreader", serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    border: none;
    border-radius: 20px;
    margin-top: 10%;
    padding: 10px;
    background: linear-gradient(150deg, rgb(30, 44, 150), rgb(29, 77, 58));
    height: 50vh;
}

.home h1{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid silver;
}

.home h2{
    text-align: center;
    margin-top: 20px;
}

.login{
    display: flex;
    flex-direction: column;
    
    width: 80%;
    margin: auto;
    margin-top: 0;
    justify-content: center;
    
}

.login #sign{
    width: 100%;
    margin: auto;
    margin-top: 10%;
    height: 50px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-family: 'Newsreader', serif;
    font-size: larger;
    color: aliceblue;
}

.login .nav-items{
    font-family: 'Newsreader', serif;
    height: 50px;
    margin-top: 10%;
    font-size: larger;
    border: none;
    border-radius: 5px;
    background-color: rgb(180, 207, 231);
}

.sign-link{
    color: aliceblue;
    margin: auto;
}

.foot{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    position: fixed; bottom: 0;
    padding: 16px;
    width: 100%;
}